.slide1Right{
 width:450px;
 
}

.slider{
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    border-radius: 20px;
}
.slider img{
    width:450px;
    height:450px;
    object-fit: cover;
    flex-shrink: 0;
    border-radius: 20px;
    scroll-snap-align: start;
}
.slider::-webkit-scrollbar{
    display: none;
}

.dots{
    display: flex;
    justify-content: center;
    gap:8px;
    margin-top: 10px;
}
.dots span{
    width:8px;
    height:8px;
    background-color: white;
    border-radius: 50%;
}