.slide2{
    width:100%;
    height:800px;
}
.slide2 .heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 30px;
}
.slide2 .heading h5{
    font-weight: 500;
    margin: 8px;
    font-size:medium;
}
.slide2 .heading h1{
    font-weight: 800;
    font-size:xx-large;
}